# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Uploads
backend/uploads/

# Build files
dist/
build/

# OS
.DS_Store
Thumbs.db

# Personal notes
notes.txt